@if (isLoading) {
    <app-spinner/>
} @else if (errorMessage != null) {
    <app-error-banner [errorMessage]="this.errorMessage"/>
} @else {
    <div class="card card-body m-2">
        <div class="d-inline-flex gap-1">
            <a
              class="btn" 
              [class.btn-success]="isQuickFiltersOpen"
              [class.btn-outline-success]="!isQuickFiltersOpen"
              data-bs-toggle="collapse" 
              href="#collapseQuickFilters" 
              role="button" 
              [attr.aria-expanded]="isQuickFiltersOpen"
              aria-controls="collapseExample"
              (click)="isQuickFiltersOpen = !isQuickFiltersOpen"
            >
              Quick Filters
            </a>
        </div>
        <div class="collapse" id="collapseQuickFilters">
            <div class="card card-body mt-2">
                <div class="d-inline-flex gap-2 justify-content-evenly">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.n" (input)="applyFilters()" placeholder="Filter n">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.id" (input)="applyFilters()" placeholder="Filter id">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.name" (input)="applyFilters()" placeholder="Filter name">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.address" (input)="applyFilters()" placeholder="Filter address">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.birthDate" (input)="applyFilters()" placeholder="Filter birthDate">
                    <input class="flex-fill form-control" type="text" [(ngModel)]="filters.email" (input)="applyFilters()" placeholder="Filter email">
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="table-success">
                <th scope="col">n</th>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">address</th>
                <th scope="col">birthDate</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            @for (person of filteredData; track person.id) {
                <tr>
                    <th scope="row">{{ person.n }}</th>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.address }}</td>
                    <td>{{ person.birthDate }}</td>
                    <td>{{ person.email }}</td>
                </tr>
            }
        </tbody>
    </table>
}
