<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @for (item of navItems; track item.label) {
                    <li class="nav-item ps-2 pe-2">
                        <a
                            aria-current="page"
                            [class]="getNavStyle(item.path)"
                            [routerLink]="item.path"
                            [attr.disabled]="isDisabled(item.path) ? true : null"
                            [style.pointer-events]="isDisabled(item.path) ? 'none' : 'auto'"
                            >{{ item.label }}</a
                        >
                    </li>
                }
            </ul>
            <div class="ms-auto">
                <a
                    class="btn"
                    [class.btn-success]="isQuickFiltersOpen"
                    [class.btn-outline-success]="!isQuickFiltersOpen"
                    data-bs-toggle="collapse"
                    href="#collapseQuickFilters"
                    role="button"
                    [attr.aria-expanded]="isQuickFiltersOpen"
                    aria-controls="collapseQuickFilters"
                    (click)="toggleQuickFilters()"
                >
                    Quick Filters
                </a>
            </div>
        </div>
    </div>
</nav>
