@if (isLoading) {
    <app-spinner />
} @else if (errorMessage != null) {
    <app-error-banner [errorMessage]="this.errorMessage" />
} @else {
    <app-quick-filters
        [data]="data"
        (filteredDataChange)="onFilteredDataChange($event)"
    ></app-quick-filters>

    <table class="table table-bordered">
        <thead>
            <tr class="table-success">
                <th scope="col">n</th>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">address</th>
                <th scope="col">birthDate</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            @for (person of filteredData; track person.id) {
                <tr>
                    <th scope="row">{{ person.n }}</th>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.address }}</td>
                    <td>{{ person.birthDate }}</td>
                    <td>{{ person.email }}</td>
                </tr>
            }
        </tbody>
    </table>
}
