<div class="collapse" id="collapseQuickFilters">
    <div class="card card-body mt-2">
        <div class="d-inline-flex gap-2 justify-content-evenly">
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.n"
                (input)="applyFilters()"
                placeholder="Filter n"
            />
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.id"
                (input)="applyFilters()"
                placeholder="Filter id"
            />
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.name"
                (input)="applyFilters()"
                placeholder="Filter name"
            />
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.address"
                (input)="applyFilters()"
                placeholder="Filter address"
            />
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.birthDate"
                (input)="applyFilters()"
                placeholder="Filter birthDate"
            />
            <input
                class="flex-fill form-control"
                type="text"
                [(ngModel)]="filters.email"
                (input)="applyFilters()"
                placeholder="Filter email"
            />
        </div>
    </div>
</div>
